@using MVCDemo.Models;
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("LoginAction", "Login"))
{
    <div>@Html.Label("Login name")</div>
    <div>@Html.TextBox("name")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.TextBox("password")</div>
    <input type="submit" value="Login">
}

@Html.ActionLink("Thêm sinh viên", "Add", "Student");

@Html.ActionLink("Sửa sinh viên", "Edit", "Student", new { ID = 5 }, null);

@Html.ActionLink("Sửa sinh viên", "Edit", "Student", new { ID = 6 }, new { @style = "color:red;" });

@Html.ActionLink("Sửa sinh viên", "Delete", null, new { onclick = " return confirm('Xóa dữ liệu?' );" });

@functions{
    public class Student
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }

        public static IEnumerable<Student> GetList(int Count)
        {
            var st = new List<Student>();
            for (int i = 1; i <= Count; i++)
            {
                st.Add(new Student { ID = i, Name = "Student" + i.ToString(), Age = 20 });
            }
            return st;
        }

    }

}
<table>
    <tr><td>Name</td><td>Age</td></tr>
    @foreach (var item in Student.GetList(5))
    {
        <tr> <td>@item.Name</td><td>@item.Age</td></tr>
    }
</table>

